/* mobile */

.back-wrapper {
  color: var(--color-neutral-white);
  border-radius: 8px;
  font-weight: 500;
  background-image: url("../../../public/bg-card-back.png");
  padding: 71.72px 26.23px 71.54px 28.79px;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 285px;
  text-align: right;
  position: absolute;
  top: 37px;
  right: 16px;
  /* if we want to use z-index -1 on card back we will declare isolation: isolate; on parent of card front and card back 
  or else card back will appear behind parent element which has bg img declared on it
  */
  /* z-index: -1; */
}

/* 73.64 37.02 72.36 230.98 */

.cvc-code {
  font-size: var(--font-size-9px);
  margin-inline-end: 10px;
  letter-spacing: 2px;
}
/* tablet */
/* desktop */

@media screen and (min-width: 90rem) {
  .back-wrapper {
    /* display: none; */
    top: revert;
    right: -222px;
    bottom: 186px;
    padding: 110px 54px 114.5px 339px;
    min-width: 447px;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      100px 100px 80px rgba(0, 0, 0, 0.07);

    /* right 222 186*/
  }
  /* cvc */
  .cvc-code {
    font-size: var(--font-size-14px);
    margin-inline-end: 0;
  }
}
