/* mobile */

.style-wrapper {
  margin-block-end: 32px;
}

.billing-shipping-radio-btns {
  font-size: var(--heading-reg-sm);
  font-weight: 700;
  margin-block: 32px;
}

.question {
  display: inline-block;
  margin-block-end: 8px;
}

.radio-input {
  display: flex;
  align-items: center;
}

.radio-input input {
  margin-inline-end: 8px;
}

/* tablet */
/* desktop */
