/* mobile */
/* --heading-reg-xx-sm add subtask create task*/
/* --modal-inputs-border-dark */

[data-apptheme="light"] .modal-bg {
  --subtasks-modal-btn-hover-light: hsl(242, 48%, 89%);
}

[data-apptheme="dark"] .modal-bg {
  --subtasks-hover-dark: hsl(240, 23%, 29%);
}

.modal-bg[data-isedittaskmodal="true"] {
  background-color: transparent;
}

.modal-bg {
  position: absolute;
  inset: 0;
  background-color: hsla(0 0% 0% / 0.4);
  z-index: 2;
}

[data-isedittaskmodal="true"] .task-modal[data-fadeedittaskmodal="true"] {
  opacity: 1;
}

[data-isedittaskmodal="true"] .task-modal {
  opacity: 0;
  transition: opacity 0.75s ease-in;
}

.task-modal {
  border-radius: 4px;
  --inline-space: 16px;
  background-color: var(--top-sidebar-modals-bg, var(--color-neutral-white));
  position: absolute;
  inset: 0;
  height: min-content;
  padding: 24px;
  max-width: 480px;
  margin-block: auto;
  left: var(--inline-space);
  right: var(--inline-space);
  /* top: 78px; */
}

.task-fieldset > * + * {
  margin-block-start: 24px;
}

.title-close-btn-container,
.title-input-container,
.description-input-container {
  display: flex;
}

.title-close-btn-container {
  justify-content: space-between;
}

.title-input-container,
.description-input-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.modal-bg label,
.task-title span,
.label,
.subtask-btn {
  font-weight: 600;
}

.task-modal label,
.label {
  font-size: var(--heading-reg-xxx-sm);
  color: var(--modal-labels-light, var(--modal-labels-dark));
}

.task-modal input:hover,
.task-modal textarea:hover {
  border-color: var(--color-purple);
}

.task-modal input,
.task-modal textarea {
  border: 2px solid;
  border-radius: 4px;
  background-color: transparent;
  border-color: var(
    --modal-inputs-border-light,
    var(--modal-inputs-border-dark)
  );
  color: var(--modal-input-dark);
  width: 100%;
  padding-block: 8px;
  padding-inline-start: 16px;
}

.task-modal input::placeholder,
.task-modal textarea::placeholder {
  color: var(
    --modal-input-placeholder-light,
    var(--modal-input-placeholder-dark)
  );
}

.title-input-container[data-isempty="true"] input,
.description-input-container[data-isempty="true"] textarea,
.subtasks-container [data-isempty="true"] input {
  border-color: var(--color-red);
}

.subtask-label-input-container {
  position: relative;
  flex-grow: 1;
}

/* show can't be empty, show accepted */

[data-isempty="true"] .empty,
[data-isempty="false"] .accepted {
  display: revert;
}

.empty {
  color: var(--color-red);
}

.subtasks-container .accepted,
.subtasks-container .empty {
  font-size: 0.7rem;
  right: 8px;
  top: -18px;
}

.empty,
.accepted {
  /* 1rem at larger screen */
  font-size: 0.7rem;
  display: none;
  font-weight: 600;
  position: absolute;
  right: 2px;
  top: 1px;
}

/* subtasks */

.subtask-inputs-container {
  position: relative;
}

[data-showemptytext="true"] .empty,
[data-showemptytext="false"] .accepted {
  right: 40px;
  top: 4px;
  display: revert;
}

.subtasks-container {
  margin-block-start: 8px;
}

.subtasks-container li {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 16px;
}

.subtasks-container > * + * {
  margin-block-start: 20px;
}

.subtasks-container [data-isempty="true"] path {
  fill: var(--color-red);
}

.remove-subtask-btn {
  background-color: transparent;
}
/* --addsubtask-addcolumn-cancel-btn-light-bg: hsl(240, 45%, 96%);
  --addsubtask-addcolumn-cancel-btn-light-fg: var(--color-purple);
  --addsubtask-addcolumn-cancel-btn-dark-bg: var(--color-purple-secondary);
  --addsubtask-addcolumn-cancel-btn-dark-fg: var(--color-neutral-white); */

.subtask-btn:hover,
.subtask-btn:focus {
  background-color: var(
    --subtasks-modal-btn-hover-light,
    var(--color-neutral-white)
  );
}

.subtask-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 100vw;
  font-size: var(--heading-reg-sm);
  padding-block: 11px;
  gap: 8px;
  align-items: center;
  background-color: var(
    --addsubtask-addcolumn-cancel-btn-dark-bg,
    var(--addsubtask-addcolumn-cancel-btn-light-bg)
  );
  color: var(--color-purple);
  margin-block-start: 12px;
}

/* subtasks */

.create-task-btn:hover,
.create-task-btn:focus {
  background-color: var(--color-purple-secondary);
}

.create-task-btn {
  width: 100%;
  background-color: var(--color-purple);
  color: var(--color-neutral-white);
  padding-block: 11px;
  font-size: var(--heading-reg-xx-sm);
  font-weight: 600;
  border-radius: 100vw;
}

/* tablet */
@media screen and (min-width: 48rem) {
  .task-modal {
    margin-block: revert;
    margin: auto;
    /* right: 262px; */
  }
}
/* desktop */
@media screen and (min-width: 90rem) {
}
