/* mobile */

.display-block {
}

.mobile-btn,
.tablet-desktop-btn {
  background-color: var(--color-purple);
  opacity: 0.25;
}

.active-btn {
  opacity: 1;
}

.mobile-btn {
  display: inline-block;
  padding: 18px;
  padding-block: 10px;
  border-radius: 100vw;
}

/* tablet */

@media screen and (min-width: 48rem) {
  .tablet-desktop-btn {
    color: var(--color-neutral-white);
    font-size: var(--heading-reg-sm);
    font-weight: 600;

    padding: 25px;
    padding-block: 14px;
    border-radius: 100vw;
  }
  .tablet-desktop-btn span:first-child {
    margin-inline-end: 8px;
  }
}

/* desktop */
@media screen and (min-width: 90rem) {
  .tablet-desktop-btn:hover,
  .tablet-desktop-btn:focus {
    background-color: var(--color-purple-secondary);
  }
}

.active-btn {
  opacity: 1;
}
