/* mobile */
.go-back-btn {
  font-size: var(--heading-reg-sm);
  color: var(--color-text);
  display: inline-block;
}

.product,
.checkout {
  margin-block-start: 16px;
  margin-block-end: 24px;
}

/* tablet */

@media screen and (min-width: 48rem) {
  .product {
    margin-block-start: 33px;
  }
  .checkout {
    margin-block-start: 48px;
  }
}

/* desktop */
@media screen and (min-width: 90rem) {
  .product {
    margin-block-start: 79px;
    margin-block-end: 56px;
  }
  .checkout {
    margin-block-start: 79px;
    margin-block-end: 38px;
  }
}
