/* mobile */

.logo-nav-container {
  display: flex;
  align-items: center;
  padding-inline: 24px;
  padding-block: 32px;
  gap: 10px;
  position: relative;
}

.logo-nav-container::before {
  content: "";
  display: inline-block;
  background-color: var(--color-nav-bar-line);
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* open/close mobile menu */

.button-container {
  display: flex;
}

/* show/hide hamburger btn */

[data-ismenuopen="true"].open-menu {
  display: none;
}

/* show/hide close mobile nav btn */

[data-ismenuopen="false"].open-menu + .close-menu {
  display: none;
}

/* only show hamburger/close btn container at mobile size. min-width: 768px/48rem. display hide*/

.open-menu,
.close-menu {
  background-color: transparent;
  padding: 0;
}

.close-menu path {
  fill: var(--color-neutral-white);
}

/* register/login */

.register-login-container {
  display: flex;
  gap: 8px;
  margin-inline-start: auto;
}

.register-btn,
.login-btn {
  display: inline-block;
  width: 24px;
  height: 26px;
}

.register-btn path {
  fill: var(--color-neutral-white);
}

.login-btn path {
  fill: var(--color-neutral-white);
}

@media screen and (min-width: 48rem) {
  .button-container {
    display: none;
  }
}

/* tablet */
/* desktop */
