/* mobile */

.main[data-checkoutpage="true"] {
  background-color: var(--color-primary-white);
}

[data-checkoutpage="true"].main {
  padding-block-end: 97px;
}

.main {
  padding-inline: 24px;
}

/* tablet */
@media screen and (min-width: 48rem) {
  [data-checkoutpage="true"].main {
    padding-block-end: 116px;
  }
  .main {
    padding-inline: 40px;
  }
}

/* desktop */
@media screen and (min-width: 90rem) {
  [data-checkoutpage="true"].main {
    padding-block-end: 141px;
  }
  .main {
    padding-inline: 165px;
  }
}
