.general {
  background-color: var(--bg);
  color: var(--fg);
  font-size: var(--heading-reg-xx-sm);
  font-weight: 700;
  padding-block: 15px;
  padding-inline: 36px;
  border: var(--btn-border);
  display: inline-block;
}

.basic-btn:focus,
.basic-btn:hover {
  --bg: var(--color-neutral-black);
  --fg: var(--color-neutral-white);
}

.basic-btn {
  --btn-border: 1px solid var(--color-neutral-black);
  --bg: transparent;
}

.orange-white:focus,
.orange-white:hover {
  --bg: var(--color-orange-hover);
}

.orange-white {
  --bg: var(--color-primary-orange);
  --fg: var(--color-neutral-white);
}

.black-white:focus,
.black-white:hover {
  --bg: var(--color-black-white-hover);
}

.black-white {
  --bg: var(--color-neutral-black);
  --fg: var(--color-neutral-white);
}

/* fake users */
/* techlove@tech.dev */
/* pw: asdf123 */

/* lovecode@code.dev */
/* ps: aqws7896 */

/* techlove@tech.dev */
/* customerid: 63278bfa766091781dbe5993 */
/* userid: 63278c88766091781dbe5997 */

/* lovecode@code.dev */
/* customerid: 632796e1766091781dbe59a1 */
/* userid: 632792c5766091781dbe599d */

/* codeiscool@awesome.io */
/* pw: awer9876 */
