/* --color-medium-grey */
.hide-sidebar-btn {
  color: var(--color-medium-grey);
  background-color: transparent;
  font-size: var(--heading-reg-sm);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hide-icon path {
  fill: var(--color-medium-grey);
}

@media screen and (min-width: 48rem) {
  .hide-sidebar-btn {
    padding-inline: 12px;
  }
}

@media screen and (min-width: 90rem) {
  .hide-sidebar-btn {
    gap: 16px;
  }
}
