/intermediate/todoAppChallenge/node_modules/
/intermediate/roomHomepage/node_modules/
/intermediate/interactiveComments/node_modules/
/intermediate/ipAddressTracker/node_modules/
/intermediate/clockApp/node_modules/
/advanced/multiPageSetup/node_modules/
/advanced/rockPaperScissorsGame/node_modules/
/advanced/webpackRockPaperGame/node_modules/
/advanced/nextJsProjects/archStudioChallenge/node_modules/
/advanced/nextJsProjects/archStudioChallenge/starter-code/
/advanced/nextJsProjects/archStudioChallenge/.env.local/
/advanced/nextJsProjects/example-app/webpackRockPaperGame/node_modules/
/advanced/nextJsProjects/spaceTourismMultiPageWebsite/node_modules/
.env