/intermediate/todoAppChallenge/node_modules/
/intermediate/roomHomepage/node_modules/
/intermediate/interactiveComments/node_modules/
/intermediate/ipAddressTracker/node_modules/
/intermediate/clockApp/node_modules/
/intermediate/clockApp/starter-code/
/intermediate/interactiveCardForms/node_modules/
/intermediate/interactiveCardForms/starter-code/
/intermediate/urlShorteningApiPage/node_modules/
/intermediate/urlShorteningApiPage/.env/
/advanced/multiPageSetup/node_modules/
/advanced/rockPaperScissorsGame/node_modules/
/advanced/webpackRockPaperGame/node_modules/
/advanced/nextJsProjects/archStudioChallenge/node_modules/
/advanced/nextJsProjects/archStudioChallenge/.next
/advanced/nextJsProjects/archStudioChallenge/starter-code/
/advanced/nextJsProjects/archStudioChallenge/.env*.local
/advanced/nextJsProjects/example-app/webpackRockPaperGame/node_modules/
/advanced/nextJsProjects/spaceTourismMultiPageWebsite/node_modules/
/advanced/nextJsProjects/spaceTourismMultiPageWebsite/.next
/guru/nextProject/audiophileEcommerce/node_modules
/guru/nextProject/audiophileEcommerce/.next
/guru/nextProject/audiophileEcommerce/.env.local
/guru/nextProject/audiophileEcommerce/starter-code
/guru/nextProject/kanbanTaskWebApp/node_modules
/guru/nextProject/kanbanTaskWebApp/.env.local
/guru/nextProject/kanbanTaskWebApp/.env
/guru/nextProject/kanbanTaskWebApp/.next
/testing
/testingNext
/guru/testingFolder/node_modules
/guru/testingFolder/.next
/guru/testingFolder/.env.local
/guru/testingNextAuth/.next
/guru/testingNextAuth/.env.local
/guru/testingNextAuth/node_modules/
.env