/* mobile */

.column-container {
  min-height: 748px;

  overflow: scroll;

  display: flex;
  gap: 24px;
}

/* tablet */

@media screen and (min-width: 48rem) {
  .column-container {
    max-height: 996.2px;
  }
}

/* desktop */

@media screen and (min-width: 90rem) {
  .column-container {
    max-height: 800.2px;
  }
}
