/* mobile */

.column-container {
  display: flex;
  gap: 24px;
  transform-style: preserve-3d;

  /* min-height: 748px; */
  /* overflow: scroll; */
}

/* assistive text container */

.assistive-text-container {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 23.625rem) {
  /* selecting the todo, doing or done columns container element */
  /* scroll-snap-type: x mandatory; is declared on parent element of element with class .column-container */
  /* the element is in the messageColumnsContainer component with calls columns-message-container */
  .column-container,
  .column-container > [id*="-column-selector"] {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}
/* tablet */

@media screen and (min-width: 48rem) {
  .column-container {
    /* max-height: 996.2px; */
  }
}

/* desktop */

@media screen and (min-width: 90rem) {
  .column-container {
    /* max-height: 800.2px; */
  }
}
