.hero-content-container {
  position: relative;
}

.main {
  padding-inline: 32px;
}

@media screen and (min-width: 48rem) {
  .header,
  .main {
    padding-inline: 118px;
  }
}
@media screen and (min-width: 90rem) {
  .header,
  .main {
    padding-inline: 165px;
  }
}
