[data-apptheme="dark"] .close-btn {
  --close-modal-btn-dark: var(--color-neutral-white);
}

.close-btn {
  background-color: transparent;
}

.close-btn-icon path {
  fill: var(--close-modal-btn-dark, var(--color-neutral-black));
}
