/* mobile */

.logo-title-container,
.title-btns-container {
  display: flex;
  gap: 16px;
}

.logo-title-container {
  padding: 16px;
  align-items: center;
  background-color: var(--top-sidebar-modals-bg, var(--color-neutral-white));
}

.title-btns-container {
  flex-grow: 1;
}

/* tablet */

@media screen and (min-width: 48rem) {
  .logo-title-container {
    border-bottom: revert;
    padding: revert;
    gap: revert;
  }

  .title-btns-container {
    --border: 1px solid var(--dark-theme-lines, var(--color-light-lines));
    border-inline-start: var(--border);
    border-block-end: var(--border);
    align-items: center;
    padding: 16px;
    padding-inline: 24px;
    gap: 24px;
  }
}

/* desktop */
@media screen and (min-width: 90rem) {
  .title-btns-container {
    padding-block: 20px;
    padding-block-end: 28px;
    padding-inline-end: 32px;
  }
}
