/* grid container */

.featured {
  padding: 32px;
  padding-block-start: 73px;
  padding-block-end: 132px;
  display: grid;
  grid-template-columns: 1fr;
}

/* grid items */

.section-title {
  font-size: calc(var(--heading-sm) + 1rem);
  font-weight: 700;
}

/* declaration for linkbutton with btnStyle featured-btn has to be declared in LinkButton component */

.link-btn {
  grid-row: 3 / span 1;
}

.featured-items-container {
  /* flex container */
  grid-row: 2 / span 1;
  margin-block-start: 28px;
  margin-block-end: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 48rem) {
  .featured {
    padding: 0;
    padding-block: 200px;
    padding-block-start: 150px;
    grid-template-columns: repeat(2, 1fr);
  }

  .section-title {
    font-size: var(--heading-med);
  }

  .link-btn {
    grid-row: 3 / span 1;
    justify-self: end;
    align-self: center;
  }
  .featured-items-container {
    /* flex container */
    margin-block-start: 85px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 90rem) {
  .featured-items-container {
    /* flex container */
    flex-direction: revert;
    gap: 30px;
  }
}
