/* position relative on element with hero-img-content-wrapper */

/* 
{
    imgSrc: {
      mobile: "/home/mobile/image-hero-paramour.jpg",
      tablet: "/home/tablet/image-hero-paramour.jpg",
      desktop: "/home/desktop/image-hero-paramour.jpg",
    },
    title: "Project Paramour",
    text: "Project made for an art museum near Southwest London. Project Paramour is a statement of bold, modern architecture.",
  },


*/

/* general */

/* moved to CarouselSlidesContainer.module */

.hero-img-content-wrapper {
  position: relative;
  /* padding-inline: 32px; */
}

/* .home-hero-text-content {
  color: hsl(0, 100%, 100%);
  position: absolute;
  width: fit-content;
  height: min-content;
  top: 0;
  left: 32px;
  right: 32px;
  bottom: 0;
  margin-block: auto;
} */

/* .home-title {
  font-size: 3rem;
  line-height: 0.9;
  margin-block-end: 11px;
} */

.slide-btns-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* moved to CarouselSlidesContainer.module */

/* [data-activeslide="true"].carousel-slide {
  display: revert;
} */

/* .carousel-slide {
  display: none;
} */

/* .top,
.bottom {
  display: block;
} */

/* .description {
  font-size: 1.25rem;
} */

/* tablet */

@media screen and (min-width: 48rem) {
  .header,
  .main-section {
    padding-inline: 118px;
  }
  /* .home-title {
    font-size: 6rem;
  } */
  /* .home-hero-text-content {
    left: 58px;
  } */
}

/* desktop */

@media screen and (min-width: 90rem) {
  .header,
  .main-section {
    padding-inline: 165px;
  }
  /* .home-hero-text-content {
    left: 190px;
    width: min-content;
  } */

  .slide-btns-container {
    left: -82px;
  }
}
