/* mobile */

.test-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* tablet */
/* desktop */

@media screen and (min-width: 90rem) {
  .test-container {
    flex-direction: revert;
    align-items: center;
    gap: 0;
  }
}
