/* mobile */

.test-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* tablet */

@media screen and (min-width: 4rem) {
  .test-container {
    flex-direction: revert;
    align-items: center;
    gap: 70px;
  }
}

/* desktop */

@media screen and (min-width: 90rem) {
  /* .test-container {
    flex-direction: revert;
    align-items: center;
    gap: 0;
  } */
}
