/* mobile */
.go-back-btn {
  font-size: var(--heading-reg-sm);
  color: var(--color-text);
  display: inline-block;
  margin-block-start: 16px;
  margin-block-end: 24px;
}

/* tablet */

@media screen and (min-width: 48rem) {
  .go-back-btn {
    margin-block-start: 33px;
  }
}

/* desktop */
@media screen and (min-width: 90rem) {
  .go-back-btn {
    margin-block-start: 79px;
    margin-block-end: 56px;
  }
}
