/* tablet: 768px */
/* desktop: 1440px */

/* rules/declarations declared here will be used like this className={styles.bgImg} or use styles["bg-img"] */

/* span: barlow condensed*/
/* h1: bellefair*/
/* p: barlow*/
/* button: bellefair*/

/* mobile */

[id="home"].app {
  background-image: url("../starter-code//assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  padding: var(--padding-large);
}

.title-content-img-wrapper {
  color: red;
}

/* tablet */

@media screen and (min-width: 768px) {
  [id="home"].app {
    background-image: url("../starter-code//assets/home/background-home-tablet.jpg");
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  [id="home"].app {
    background-image: url("../starter-code//assets/home/background-home-desktop.jpg");
  }
}
