/* mobile: modal size: 56.25 */

[data-apptheme="dark"] .edit-delete-board-modal-wrapper {
  --logout-fg-dark: var(--color-purple);
  --logout-bg-dark: var(--color-neutral-white);
}

.open-edit-delete-board-btn {
  background-color: transparent;
}

.edit-delete-board-modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 70px;
  font-size: var(--heading-reg-sm);
  background-color: var(--edit-delete-modals-bg, var(--color-neutral-white));
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(
    --edit-delete-modals-box-shadow-dark,
    0px 0px 10px 3px hsla(0 0% 0% / 0.2)
  );
}

.edit-board-btn,
.delete-board-btn {
  background-color: transparent;
}

.edit-board-btn {
  color: var(--color-medium-grey);
}

.delete-board-btn {
  color: var(--color-red);
}

.modal-spacer {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: var(--color-light-lines);
}
/* tablet: modal size: 115.2 */

@media screen and (min-width: 48rem) {
  .edit-delete-board-modal-wrapper {
    right: 30px;
    top: 100px;
  }
}
/* desktop: modal size: 192 */
