[data-activepage="true"].navlink {
  color: var(--color-neutral-black);
}

[data-activepage="true"].navlink::before {
  content: "";
  width: 25px;
  display: inline-block;
  height: 2px;
  background: currentColor;
  position: absolute;
  bottom: -5px;
  left: 26px;
}

.navlink {
  position: relative;
  font-weight: 600;
  color: var(--color-med-grey);
}

@media screen and (min-width: 48rem) {
  .navlist {
    display: flex;
    gap: 61px;
  }
}
