.arrow-icon .element {
  stroke: hsl(0, 100%, 100%);
}

.icon-text {
  font-size: 1.25rem;
  font-size: 700;
}

/* general */

.general {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-weight: 700;
  background-color: var(--bg, var(--color-neutral-black));
  color: var(--fg, var(--color-neutral-white));
  padding-block-start: 25px;
  padding-block-end: 22px;
}

.header-btn,
.footer-btn {
  padding-inline-start: 37px;
  padding-inline-end: 32px;
}

/* header btn */

.header-btn {
  max-width: 270px;
  margin-block-start: 83px;
}

/* about btn */

.about-btn {
  max-width: 188px;
}

.general:hover,
.general:focus {
  --bg: var(--color-dark-grey);
}

/* featured btn */

.featured-btn {
  grid-row: 3 / span 1;
}

/* contact btn */

.contact-btn {
  --bg: var(--color-neutral-white);
  --fg: var(--color-neutral-black);
  padding-block: 0;
  width: max-content;
}

.contact-btn .element {
  stroke: var(--color-neutral-black);
}

/* arrow non text btn */

/* .arrow-btn{} */

/* footer btn */

@media screen and (min-width: 48rem) {
  /* header btn */

  .header-btn {
    margin-block-start: 72px;
  }

  /* about btn */

  /* featured btn */

  .featured-btn {
    min-width: 169px;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: end;
    align-self: center;
  }

  /* contact btn */

  .contact-btn {
    align-self: flex-end;
    margin-block-end: 20px;
  }

  /* footer btn */
  .footer-btn {
    position: absolute;
    height: min-content;
    top: 0;
    bottom: 0;
    right: 0;
    margin-block: auto;
  }
}

@media screen and (min-width: 90rem) {
  /* header btn */
  .header-btn {
    margin-block-start: 41px;
  }
  /* about btn */

  /* featured btn */

  /* footer btn */
}
