/* faded mobile menu effect */

.mobilenav-wrapper {
  position: absolute;
  inset: 0;
  background-color: hsl(0 0% 0% / 0.5);
}

[data-showmenu="false"].mobilenav-wrapper {
  display: none;
}

.navbar {
  background-color: var(--color-very-light-grey);
  font-size: 2rem;
  position: absolute;
  /* z-index of 1 or higher than the text-content of the hero section in home page
  because our container that house hero section and mobile menu has position relative
  and the text-content element has declaration of position absolute.
  since the mobile menu is above the text-content in the DOM tree
  it will be render first then its siblings will render above it.
  think stacking(stacking context).
  */
  z-index: 1;
  top: 0;
  left: 32px;
  padding-block-start: 39px;
  padding-block-end: 34px;
  padding-inline-start: 42px;
  padding-inline-end: 173px;
}

.navitem:nth-child(2) {
  margin-block: 17px;
}

.navlink {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}

[data-activepage="true"].navlink {
  border-bottom: 2px solid var(--color-neutral-black);
}

@media screen and (min-width: 48rem) {
  .navbar {
    display: none;
  }
}
