/* mobile */
.form-container {
  background-color: var(
    --color-form-container-dark,
    var(--color-neutral-white)
  );
  padding: 16px;
  text-align: center;
  padding-block: 45px;
}

.logo {
  display: block;
  width: max-content;
  margin-inline: auto;
}

.logo path {
  fill: var(--color-logo-dark, var(--color-neutral-black));
}

.title-wrapper {
  margin-block: 28px;
}

.title-wrapper h2 {
  font-size: 2rem;
  /* margin-block-start: 8px; */
  margin-block-end: -8px;
  color: var(--color-purple);
}

.title-wrapper span {
  font-size: 1.5rem;
  color: hsl(242.9, 42.4%, 61.2%);
}

.email-container {
  background-color: var(--color-input-dark-bg, transparent);
  border: 1px solid hsl(80, 3%, 79%);
  display: flex;
  align-items: center;
  border-radius: 100vw;
  padding-inline-start: 10px;
  /* margin-block: 28px; */
  margin-block-end: 16px;
  gap: 4px;
}

.atemail-icon path:nth-child(2) {
  fill: hsl(80, 1%, 54%);
}

.email-container input {
  padding: 7px;
  padding-block-end: 9px;
  width: 100%;
  border-top-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
}

.sign-in-btn {
  padding: 8px;
  padding-inline: 72px;
  border-radius: 100vw;
  color: var(--color-neutral-white);
  background-color: var(--color-purple);
  font-weight: 600;
  text-transform: uppercase;
}

.random-text {
  color: hsl(243, 39.4%, 50.8%);
  display: inline-block;
  margin-block: 24px;
}

/* social login btns */

.login-btns-container {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.social-login-btn {
  background-color: var(--color-signin-btns-dark, transparent);
  box-shadow: 0px 0px 10px 3px
    var(--color-signin-btns-shadow-dark, hsla(243 100% 82% / 0.5));
  border-radius: 50%;
  padding: 12px;
}

.social-login-btn:hover,
.social-login-btn:focus {
  outline: 3px solid var(--color-purple);
}

.social-login-btn svg {
  width: 43px;
}

.icon[data-social-login="linkedin"] path {
  fill: var(--color-linkedin);
}

/* .icon[data-social-login="github"] path {
  fill: var(--color-github-dark, var(--color-neutral-black));
} */
/* tablet */

@media screen and (min-width: 48rem) {
  .title-wrapper {
    margin-block: 18px;
    margin-block-end: 28px;
  }

  .title-wrapper h2 {
    font-size: 3rem;
    margin-block-end: -18px;
  }

  .title-wrapper span {
    font-size: 2.5rem;
  }

  .form {
    padding-inline: 111px;
  }

  .sign-in-btn,
  .random-text {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}

/* desktop */

@media screen and (min-width: 90rem) {
  .form-container {
    flex-basis: 50%;
  }

  .form {
    padding-inline: revert;
  }

  .email-container {
    max-width: 84%;
    margin-inline: auto;
  }

  .title-wrapper {
    margin-block-start: 10px;
  }

  .title-wrapper h2 {
    font-size: 3.2rem;
  }

  .title-wrapper span {
    font-size: 2.3rem;
  }

  /* .sign-in-btn,
  .random-text {
    font-size: 1.5rem;
    letter-spacing: 2px;
  } */

  .login-btns-container {
    gap: 40px;
  }

  .sign-in-btn {
    padding-inline: 52px;
  }
}
