/* mobile */

[data-apptheme="light"] .toggle-container {
  --toggle-icon-container-bg-light: var(--color-light-bg);
  --toggle-bg-light: var(--color-purple);
}

[data-apptheme="dark"] .toggle-container {
  --toggle-bg-dark: var(--color-purple-secondary);
  --toggle-icon-container-bg-dark: var(--color-dark-bg);
}

.toggle-container {
  padding-inline: 15px;
}

/* move toggle circle when toggle btn is clicked */

.toggle-btn[data-currenttheme="dark"] .toggle-circle {
  transform: translateX(20px);
}

.toggle-icons-container {
  background-color: var(
    --toggle-icon-container-bg-light,
    var(--toggle-icon-container-bg-dark)
  );
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding-block: 14px;

  gap: 24px;
}

.toggle-btn:hover,
.toggle-btn:focus {
  background-color: var(--color-purple-secondary);
}

.toggle-btn {
  background-color: var(--color-purple);
  border-radius: 100vw;
  padding: 3px;
  padding-inline-end: 23px;
}

.toggle-circle {
  transition: transform 1s ease-in-out;
  display: block;
  background-color: white;
  padding: 7px;
  border-radius: 50%;
}

@media screen and (min-width: 48rem) {
  .toggle-container {
    padding-inline: 12px;
    margin-block-end: 16px;
    margin-block-start: auto;
  }
}

@media screen and (min-width: 90rem) {
  .toggle-container {
    padding-inline: 24px;
    margin-block-end: 8px;
  }
}
