[data-apptheme="light"] .task-btn {
  --task-btn-box-shadow-light: hsl(216, 38%, 92%);
}

[data-apptheme="dark"] .task-btn {
  --task-btn-dark-bg: var(--color-dark-grey);
}

.task-btn[data-typeofstatus="todo"]:hover,
.task-btn[data-typeofstatus="todo"]:focus,
.task-btn[data-typeofstatus="todo"]:focus-within,
.task-btn[data-typeofstatus="todo"]:focus-within {
  box-shadow: var(--task-btn-shadow) hsl(193, 75%, 59%);
}

.task-btn[data-typeofstatus="doing"]:hover,
.task-btn[data-typeofstatus="doing"]:focus,
.task-btn[data-typeofstatus="doing"]:focus-within,
.task-btn[data-typeofstatus="doing"]:focus-within {
  box-shadow: var(--task-btn-shadow) hsl(248, 83%, 70%);
}

.task-btn[data-typeofstatus="done"]:hover,
.task-btn[data-typeofstatus="done"]:focus,
.task-btn[data-typeofstatus="done"]:focus-within,
.task-btn[data-typeofstatus="done"]:focus-within {
  box-shadow: var(--task-btn-shadow) hsl(155, 68%, 65%);
}

.task-btn[data-typeofstatus]:hover,
.task-btn[data-typeofstatus]:focus,
.task-btn[data-typeofstatus]:focus-within,
.task-btn[data-typeofstatus]:focus-within {
  transform: translate3d(0px, 0px, 5px);
}

.task-btn[id="drag-drop-selected"][tabIndex="0"] {
  box-shadow: var(--task-btn-shadow) var(--color-purple-secondary);
  transform: rotateZ(3deg);
}

.task-btn[data-dragover="true"] {
  box-shadow: var(--task-btn-shadow) var(--color-purple-secondary);
  transform: rotateZ(-3deg);
}

.task-btn {
  --task-btn-shadow: 0px 0px 17px 4px;
  transition: transform 0.5s ease-in, box-shadow 0.5s ease-in;
  background-color: var(--task-btn-dark-bg, var(--color-neutral-white));
  display: block;
  padding-block: 23px;
  padding-inline: 16px;
  box-shadow: 0px 0px 0px 0px transparent;
  transform: translate3d(0px, 0px, 0px);

  border-radius: 8px;
  text-align: left;

  width: 100%;
}

.task-title {
  font-size: var(--heading-reg-sm);
  color: var(--fg, var(--color-neutral-black));
}

.subtasks-icon-container {
  margin-block-start: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtasks-container {
  color: var(--color-medium-grey);
  font-size: var(--heading-reg-xxx-sm);
  font-weight: 600;
  display: flex;
  gap: 5px;
  /* justify-content: center; */
}

.open-view-icon-btn svg {
  width: 24px;
}

.circle[data-statusbtncolor="todo"] {
  background-color: hsl(193, 75%, 59%);
}

.circle[data-statusbtncolor="doing"] {
  background-color: hsl(248, 83%, 70%);
}

.circle[data-statusbtncolor="done"] {
  background-color: hsl(155, 68%, 65%);
}
