/* [data-apptheme="dark"] .empty-message-modal-bg {
  --empty-message-bg-dark: var(--color-dark-bg);
} */
/* [data-showsidebar-menu="true"] is attr declared on ancestors of empty-message-modal */

/* [data-showsidebar-menu="true"] .empty-message-modal-bg {
  background-color: black;
} */

.empty-message-modal-bg {
  /* background-color: var(--empty-message-bg-dark, var(--color-light-bg)); */
  min-height: 724px;
  text-align: center;
  font-weight: 600;

  display: flex;
  align-items: center;
}

.empty-message-container {
  font-size: var(--heading-sm-four);
  color: var(--color-medium-grey);
}

/* hover and focus */

.add-column-btn:hover,
.add-column-btn:focus {
  background-color: var(--color-purple-secondary);
}

.add-column-btn {
  background-color: var(--color-purple);
  padding: 18px;
  padding-block: 10px;
  border-radius: 100vw;
  margin-block-start: 25px;
}

.add-column-btn span {
  font-size: var(--heading-reg-sm);
  color: var(--color-neutral-white);
}

@media screen and (min-width: 48rem) {
  [data-showsidebar-menu="true"] .empty-message-modal-bg {
    right: 262px;
  }

  .empty-message-modal-bg {
    position: absolute;
    inset: 0;
    justify-content: center;
    padding-inline: 16px;

    transition: right 2s linear;
  }
}

@media screen and (min-width: 90rem) {
  [data-showsidebar-menu="true"] .empty-message-modal-bg {
    right: 301px;
  }
}
