/* set CSS custom properties here for light/dark theme */

.dashboard[data-apptheme="light"] {
  /* text and logo */
  /* using state to render light or dark icon */
  /* --color-text-logo-light: var(--color-neutral-black); */

  /* btns */

  /* --selectedboard-sidebar-light: var(--color-purple); */

  --addcreate-taskboard-save-btn-light: var(--color-purple);

  --addsubtask-addcolumn-cancel-btn-light-bg: hsl(240, 45%, 96%);
  /* --hover-notselectedboard-sidebar-light-bg: hsl(240, 45%, 96%); */
  /* --hover-hide-sidebar-light-bg: hsl(240, 45%, 96%); */

  --addsubtask-addcolumn-cancel-btn-light-fg: var(--color-purple);
  /* --hover-notselectedboard-sidebar-light-fg: var(--color-purple); */
  /* --hover-hide-sidebar-light-fg: var(--color-purple); */

  --hover-addnewtask-create-btn: var(--color-purple-secondary);

  --modal-input-placeholder-light: hsl(240, 4%, 76%);

  /* modals */

  --modals-label-light: var(--color-medium-grey);
  --modal-subtasks-title-light: var(--color-medium-grey);
  --modal-inputs-border-light: hsl(218, 15%, 89%);
  --modal-placeholder-fg-light: hsl(240, 4%, 76%);
  --modal-labels-light: var(--color-medium-grey);
  /* toggle */

  /* --toggle-icon-container-bg-light: var(--color-light-bg);
  --toggle-bg-light: var(--color-purple); */
  --createboard-hover-new-column-taskbtn-light: var(--color-purple);
  /* --subtasks-modal-btn-hover-light: hsl(242, 48%, 89%); */

  /* --status-drop-down-box-shadow-light: 0px 0px 10px 3px hsla(0 0% 0% / 0.2); */
}

.dashboard[data-apptheme="dark"] {
  --fg: var(--color-neutral-white);
  --dark-theme-lines: var(--color-dark-lines);
  /* text and logo */
  /* using state to render light or dark icon */
  /* --color-text-logo-dark: var(--color-neutral-white); */

  /* btns */

  /* --selectedboard-sidebar-dark: var(--color-purple-secondary); */
  --addcreate-taskboard-save-btn-dark: var(--color-purple-secondary);

  --addsubtask-addcolumn-cancel-btn-dark-bg: var(--color-neutral-white);
  /* --notselectedboard-sidebar-dark-bg: var(--color-neutral-white); */
  /* --hover-hide-sidebar-dark-bg: var(--color-neutral-white); */

  --addsubtask-addcolumn-cancel-btn-dark-fg: var(--color-purple);
  /* --notselectedboard-sidebar-dark-fg: var(--color-purple); */
  /* --hover-hide-sidebar-dark-fg: var(--color-purple); */

  /* --logout-fg-dark: var(--color-purple);
  --logout-bg-dark: var(--color-neutral-white); */

  /* modals */
  --top-sidebar-modals-bg: var(--color-dark-grey);
  --edit-delete-modals-bg: var(--color-dark-grey);
  --edit-delete-modals-box-shadow-dark: 0px 0px 10px 3px hsla(0 100% 100% / 0.4);
  --modal-inputs-border-dark: hsl(226, 12%, 29%);
  --modal-labels-dark: var(--color-neutral-white);
  /* --close-modal-btn-dark: var(--color-neutral-white); */
  --modal-placeholder-fg-dark: hsl(233, 4%, 39%);
  --modal-input-placeholder-dark: hsl(233, 4%, 39%);
  --modal-input-dark: var(--color-neutral-white);
  /* --status-value-dark: var(--color-neutral-white); */
  /* --status-drop-down-menu-bg-dark: var(--color-dark-bg); */

  /* toggle */

  /* --subtasks-hover-dark: hsl(240, 23%, 29%); */
  --createboard-hover-new-column-taskbtn-dark: var(--color-purple-secondary);
  /* --toggle-bg-dark: var(--color-purple-secondary);
  --toggle-icon-container-bg-dark: var(--color-dark-bg); */
}

@media screen and (max-width: 23.4375rem) {
  .dashboard {
    height: 100%;
  }
}

.dashboard {
  color: var(--fg, --color-neutral-black);
}

@media screen and (min-width: 48rem) {
  .dashboard {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 90rem) {
}
