/* set CSS custom properties here for light/dark theme */

.dashboard[data-apptheme="light"] {
  /* text and logo */
  /* using state to render light or dark icon */
  /* --color-text-logo-light: var(--color-neutral-black); */

  /* btns */

  --selectedboard-sidebar-light: var(--color-purple);

  --addcreate-taskboard-save-btn-light: var(--color-purple);

  --addsubtask-addcolumn-cancel-btn-light-bg: hsl(240, 45%, 96%);
  --hover-notselectedboard-sidebar-light-bg: hsl(240, 45%, 96%);
  --hover-hide-sidebar-light-bg: hsl(240, 45%, 96%);

  --addsubtask-addcolumn-cancel-btn-light-fg: var(--color-purple);
  --hover-notselectedboard-sidebar-light-fg: var(--color-purple);
  --hover-hide-sidebar-light-fg: var(--color-purple);

  --input-placeholder-light: hsl(240, 4%, 76%);
  --input-placeholder-dark: hsl(233, 4%, 39%);

  /* modals */

  --modals-label-light: var(--color-mediem-grey);
  --modal-subtasks-title-light: var(--color-mediem-grey);

  /* toggle */

  --toggle-icon-container-bg-light: var(--color-light-bg);
  --toggle-bg-light: var(--color-purple);
  --createboard--hover-new-column-taskbtn-light: var(--color-purple);
  --subtasks-hover-light: hsl(242, 48%, 89%);
}

.dashboard[data-apptheme="dark"] {
  --fg: var(--color-neutral-white);
  /* text and logo */
  /* using state to render light or dark icon */
  /* --color-text-logo-dark: var(--color-neutral-white); */

  /* btns */

  --selectedboard-sidebar-dark: var(--color-purple-secondary);
  --addcreate-taskboard-save-btn-dark: var(--color-purple-secondary);

  --addsubtask-addcolumn-cancel-btn-dark-bg: var(--color-purple-secondary);
  --notselectedboard-sidebar-dark-bg: var(--color-purple-secondary);
  --hover-hide-sidebar-dark-bg: var(--color-purple-secondary);

  --addsubtask-addcolumn-cancel-btn-dark-fg: var(--color-neutral-white);
  --notselectedboard-sidebar-dark-fg: var(--color-neutral-white);
  --hover-hide-sidebar-dark-fg: var(--color-neutral-white);

  /* modals */
  --top-sidebar-modals-bg: var(--color-dark-grey);
  --edit-delete-modals-bg: var(--color-dark-grey);
  /* toggle */

  --subtasks-hover-dark: hsl(240, 23%, 29%);
  --createboard--hover-new-column-taskbtn-dark: var(--color-purple-secondary);
  --toggle-bg-dark: var(--color-purple-secondary);
  --toggle-icon-container-bg-dark: var(--color-dark-bg);
}

.dashboard {
  color: var(--fg, --color-neutral-black);
}
