/* mobile */

/* .login-bg[data-theme="dark"] {
    github
  --color-github-dark: var(--color-neutral-white);
  --color-logo-dark: var(--color-neutral-white);
  --color-input-dark-bg: var(--color-neutral-white);
  --color-signin-btns-dark: var(--color-neutral-white);
  --color-signin-btns-shadow-dark: lightcoral;
  --color-form-container-dark: var(--color-neutral-black);
  --bg-dark-vertical: url("/assets/blob-vertical-dark.svg");
  --bg-dark-desktop: url("/assets/blob-desktop-dark.svg");
} */

/* position: relative; */
/* .login-bg {
  height: 100vh;
  padding: 18px;
  padding-block-start: 43px;
  background-image: var(
    --bg-dark-vertical,
    url("/assets/blob-bg-vertical.svg")
  );
}

.img-form-container {
  max-width: 1000px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px hsla(0 0% 0% / 0.2);
} */

/* .img-container {
  position: absolute;
  inset: 0;
  z-index: -1;
} */

/* .img-container img {
  height: 812px;
} */
/* tablet */
/* desktop */

/* @media screen and (min-width: 90rem) {
  .login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/blob-bg-desktop.svg");
    background-image: var(
      --bg-dark-desktop,
      url("/assets/blob-bg-desktop.svg")
    );
  }

  @supports (display: grid) {
    .login-bg {
      display: grid;
      place-items: center;
    }
  }

  .img-form-container {
    display: flex;
    box-shadow: 0px 0px 10px 10px hsla(0 0% 0% / 0.1);
  }
} */
